{% extends 'head_menu.html' %}

{% block title %}
    <title>Modyfikuj cel</title>
{% endblock %}


{% block content %}

    <form method="POST">

        {% csrf_token %}

        <p>Modyfikuj cel: <i>{{ purpose.purpose }}</i></p>
        <textarea cols="50" rows="15" name="modified_purpose"
                  placeholder="Edytuj cel">{{ purpose.purpose }}</textarea><br>
        <input type="submit" value="Zapisz">
    </form>

    <br>

    <a href="/purposes"><input type="submit" value="Powrót do celi"></a>


{% endblock %}