<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Statystyki</title>
    <link rel="stylesheet" href="../static/style/css.css">
</head>
<body>
    <table>
        <td class="logo"><a href="/"><img src="../static/img/logo1.jpg" width=200px height=95px title="logo" alt="logo"></a></td>
        <td class="menu"><a href="/add_guest">Dodaj gościa</a></td>
        <td class="menu">Widok dnia</td>
        <td class="menu">Widok miesiąca</td>
        <td class="menu">Widok roku</td>
        <td class="menu"><a href="/statistic">Statystyki</a></td>
        <td class="menu"><a href="/purposes">Widok celi</a></td>
        <td class="menu"><a href="/materials">Materiały</a></td>
    </table>
    <br><br>
    <label>
        <select name="year">Wybierz rok</select>
        <input type="submit" value="Wybierz">
    </label>
    <br><br>
    <table border="1px solid black">
        <thead>
        <tr>
            <th>Miesiąc</th>
            <th>% Odwiedzin</th>
            <th>Min w miesiącu</th>
            <th>Odwiedziny</th>
            <th>Ilość dni w miesiącu</th>
            <th>Średnia ilość</th>
            <th>Ile brakuje do min</th>
            <th>Średnia</th>
            <th>Różnica z poprzednim miesiącem</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Styczeń</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Luty</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Marzec</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Kwiecień</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Maj</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Czerwiec</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Lipiec</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Sierpień</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Wrzesień</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Październik</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Listopad</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Grudzień</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td><strong>SUMA</strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
            <td><strong></strong></td>
        </tr>
        </tbody>
    </table>
</body>
</html>