<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test tagi</title>

    <script src="../static/js/jquery-1.8.2.js" type="text/javascript" charset="utf-8"></script>


		<link rel="stylesheet" href="../static/js/jquery-textext-master/src/css/textext.core.css" type="text/css" />
		<link rel="stylesheet" href="../static/js/jquery-textext-master/src/css/textext.plugin.tags.css" type="text/css" />
		<link rel="stylesheet" href="../static/js/jquery-textext-master/src/css/textext.plugin.autocomplete.css" type="text/css" />
		<link rel="stylesheet" href="../static/js/jquery-textext-master/src/css/textext.plugin.focus.css" type="text/css" />
		<link rel="stylesheet" href="../static/js/jquery-textext-master/src/css/textext.plugin.prompt.css" type="text/css" />
		<link rel="stylesheet" href="../static/js/jquery-textext-master/src/css/textext.plugin.arrow.css" type="text/css" />
		<script src="../static/js/jquery-textext-master/src/js/textext.core.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.tags.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.autocomplete.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.suggestions.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.filter.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.focus.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.prompt.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.ajax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../static/js/jquery-textext-master/src/js/textext.plugin.arrow.js" type="text/javascript" charset="utf-8"></script>

</head>
<body>


    <textarea id="textarea" rows="1"></textarea>

    <script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
    <script src="../static/js/jquery-textext-master/src/js/textext.plugin.autocomplete.js" type="text/javascript"></script>

    <script type="text/javascript">
        $('#textarea').textext({
            plugins : 'tags prompt focus autocomplete ajax arrow',
            tagsItems : [ 'Basic', 'JavaScript', 'PHP', 'Scala' ],
            prompt : 'Add one...',
            ajax : {
                url : '/manual/examples/data.json',
                dataType : 'json',
                cacheResults : true
            }
        });
    </script>
</body>
</html>